@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}
/*Inicia la sección del HEADER*/
.menu-responsive{
    display: none;
}

header button{
    background: none;
    border: none;
}

header{
    display: flex;
    justify-content:space-evenly;
    background-color: white;
    align-items:center;
}

header div a img{
    width: 30%;
    height: 10%;
}

a{
    margin-left: 30px;
    text-decoration: none;
    color: #252425;
    font-size: 17px;
}
/*Finaliza la sección del HEADER*/

/*Inicia la sección del HERO*/
p{
    line-height: 25px;
}

.hero p a{
    margin-left: 0px;
    font-size: 30px;
}

.hero{
    background-image: url(fotografia-artistica.jpg);
    background-size: cover;
    background-position: right;
    color: #252425;
    height: 100vh;

}

.hero h1{
    position: absolute;
    left: 15vh;
    bottom: 40vh;
    font-size: 100px;
}

.hero p{
    position: absolute;
    left: 15vh;
    bottom: 25vh;
    font-size: 30px;
}

.hero img{
    margin-left: 100vh;
    width: 100vh;
    height: 100vh;
}

.nav a{
    font-weight: bold;
} 
/*Finaliza la sección del HERO*/

/*Inicia la sección del CURSO LIMIERE*/
.cursos{
    display:flex;
    margin-top: 1vh;
    padding: 10vh;
    flex-direction: column;
    height: 100vh;
    gap: 10vh;
}

.venta{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}


.cursos h1{
    color:#252425;  
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.cursos div p{
    text-align:center;  
     
}

.cuadrado1, .cuadrado2, .cuadrado3{
    width: 20%;
}


 .cuadrado1 img, .cuadrado2 img, .cuadrado2 img{
    display: flex;
    justify-content: center;
}  

.cuadrados{
    width: 100%;
    display: flex;
    justify-content: center;
}



.cuadrado1 h2,.cuadrado2 h2,.cuadrado3 h2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color:#252425;  
} 

.cuadrado1 button,.cuadrado2 button, .cuadrado3 button{
    width: 60%;
    height: 50px;
    border-radius: 10px;
    background-color:#252425;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
}

.nivel{
    width: 217px;
    height: 199px;
}


.botones{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cuadrado1 p,.cuadrado2 p, .cuadrado3 p{
    margin-top: 20px;
}
/*Finaliza la sección del CURSO LUMIERE*/

/*Inicia la sección de PROGRMA y OFERTA*/
.programa, .oferta{
    background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    text-align: center;
    justify-content: center;
    padding: 15vh;
}

.programa h1, .oferta h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.programa p, .oferta p{
    color: white;
    margin-top: 35px;
}

.programa p{
    font-size: 20px;
}

.oferta p{
    font-size: 40px;
}
    
.programa button, .oferta button{
    margin-top: 35px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    color: #252425;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
/*Finaliza la sección de PROGRAMA Y OFERTA*/

/*su proposito es ser rellenado con una IMAGEN de FONDO*/  
.imagen-decoration{
    background-image: url(fotografia3.jpg);
    filter: grayscale(80%);
    padding: 35vh;
    background-size: cover;
    background-position: right;
    transition: 2s;
}

/*Inicia la sección de ABOUT*/
.aboutus{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

/*Su poropisito es meramente de ESTETICA */
.rectangulo{
    position: absolute;
    z-index: -1;
    width: 300px; 
    height: 95vh; 
    background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    border-bottom-right-radius: 250px;
    right: 10vh;
}


.texto-about-us{
    width: 60vh;

    text-align: justify;
}

.cuadros{
    display: flex;
    flex-direction: column;
    
}

.texto-about-us h1{
    font-weight: bold;
    font-size: 50px;
    color: #252425;
}

.texto-about-us p{
    margin-top: 40px;
}



.cuadro-about1, .cuadro-about2, .cuadro-about3{
   background-color: white;
   border: solid 2px #61575B;
   width: 360px;
   text-align: end;
   border-radius: 10px;
   padding: 5px;
   box-shadow: 1px 1px 10px#252425;
   text-align: justify;
}


.cuadro-about1,.cuadro-about2, .cuadro-about3{
    margin-top: 2vh;
}

.cuadro-about1 p, .cuadro-about2 p, .cuadro-about3 p, .cuadro-about1 h2, .cuadro-about2 h2, .cuadro-about3 h2{
    margin-right: 20px;
}

.cuadro-about1 p, .cuadro-about2 p, .cuadro-about3 p{
    margin-top: 10px;
}

.aboutus1{
    height: 70px;
    border-radius: 10px;
    margin-top: 15px;
}

.aboutus2{
    height: 70px;
    border-radius: 10px;
    margin-top: 5px;
}

.aboutus3{
    height: 70px;
    border-radius: 10px;
    margin-top: 5px;
}

/*Finaliza la sección de ABOUT */

/*Inicia la sección de REWIEWS O RESEÑAS*/
.rewiews{
    display: flex;
    padding: 15vh;
    background-color:  whitesmoke; 
    flex-direction: column;
   
}

.rewiews h1{
    color: #252425;
    display: block;
    display: flex;
    justify-content: center;
}

.rewiews img{
    height: 70px;
}

.reviews1 div h1, .reviews1 div p{
    text-align: justify;
}

.titulo{
     display:inline-block;
     height: 60px;
     /* margin-left: 100px; */
     display: flex;
     justify-content: center;
     width: 100%;
     
}

.titulo h1{
    font-size: 50px;
    font-weight: bold;
    color: #252425;
    /* margin-left: 35vh;
    position: absolute; */
}

.rewiews1{
    display: flex;
    /* margin-top: 100px;
    margin-left: -45px; */
}

.estudiantes{
    width: 30%;
}

.rewiews1 p, .rewiews1 h1{
    margin-right: 100px; 
    text-align: justify;
}

.rewiews1 p{
    margin-top: 30px;
}

.rewiews1 div{
    margin-left: 50px; 
    margin-top: 70px;
    width: 100%
}

.rewiews img{
    position:absolute;
    bottom: 10vh;
}
/*Finaliza la sección de REWIEWS O RESEÑAS*/

/*Inicia la sección de SOPORTE*/
.soporte{
   padding-top: 20px;
   height: 100vh;
}
.soportecont{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.lista-soporte{
    margin-top: 15px;
} 

.lista-soporte p{
    margin-top: 15px;
} 

.imagen img{
    width: 100%;
    box-shadow: 1px 1px 5px 1px #61575B;
}

.texto{
    flex-direction: column;
}

.text1{
    width: 30%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}


.imagen{
    width: 30%;

}
.text1 div h1{
   color: #252425;
   font-size: 35px;
   font-weight: bold;
   margin-bottom: 20px;
}

.text1 div p{
    margin-top: 15px;
}

.texto div p b{
    color: #252425;
}
/*Finaliza la sección de SOPORTE*/

/*Inicia la sección de CONTACTO*/
.contact{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact h1{
    color: #252425;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}
  
.form-row {
    display: flex;
    justify-content: space-between;
}
  
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
  
label{
    margin-bottom: 5px;
}

.email-label{
    margin-left: 20px;
}
  
input[type="text"],input[type="email"],textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button[type="submit"] {
    background-color: #252425;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    
}

.botoncontact{
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.name{
    width: 250px;
}

.mail{
    width: 250px;
    margin-left: 20px;
    
}
 
textarea{
    height: 200px;
}
/*Finaliza la sección de CONTACTO*/

/*Inicia la sección de SOCIAL*/
.social{
    background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    height: 30vh;
    display: flex;
}

.social img{
    margin: 0;
    height: 30vh;
}

.social div{
    margin-left: 31%;
    margin-top: 15vh;
}

i{
    color: white;
    font-size: 30px;
    margin-left: 20px;
}
/*Finaliza la sección de SOCIAL*/

/*Inicia la sección de COPYRIGHT*/
.copyright{
    padding: 3vh;
}

.copyright p{
    /* margin-left: 70vh; */
    color: #61575B;
    display: flex;
    justify-content: center;
}
/*Finaliza la sección de COPYTICHT*/

/* Inicio del APARTADO DE ANIMACIONES */

.animar:hover{
    background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    color: white;
}

.animar2:hover{
    font-size: 25px;
    cursor: pointer;
}

header div a:hover{
    text-decoration: overline;
}

input, textarea{
    box-shadow: 1px 1px 5px 1px #61575B;
    outline: none;
}

.cursos div img{
    box-shadow: 1px 1px 10px#61575B;
}

.cursos div img:hover{
    box-shadow: 2px 2px 10px 2px #61575B;
}

.imagen-decoration:hover{
    filter: none;
    transition: 2s;
}

.redes:hover{
    box-shadow: 1px 1px 10px white;
    border-radius: 25px;
}


/*Finaliza del APARTADO DE ANIMACIONES*/

/*COMIENZA EL DISEÑO DEL REPONSIVE*/

@media only screen and (max-width: 767px){
    
    body{
       width: 100%;
    }
/*Inicia la sección del HEADER*/
    header {
        display: flex;
        flex-direction: column;
    }

    header div a img{
        margin-left: 25%;
    }
      
    .nav {
        display: none;
        width: 100%;
    }
      
    .menu-responsive-btn {
        display: block;
        background: none;
        border: none;
        margin-right: 10px;
    }
      
    .menu-responsive {
        font-size: 40px;
        display: block;
        color: black;
    }
      
    .nav a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
    }
      
    .nav a:last-child {
        border-bottom: none;
    }
      
    .nav.show {
        display: block;
        margin-top: 10px;
    }
/*Finaliza la sección del HEADER*/
    
/*Inicia la sección del HERO*/
    .hero{
        background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    }

    .hero h1{
        color: white;
        font-size: 50px;
        position: absolute;
        top: 45vh;
        left: 5vh;   
    }

    .hero a{
        color: white;
    }

    .hero p{
        color: white;
        position: absolute;
        left: 5vh;
        top: 65vh;
    }
/*Finaliza la sección del HERO*/

/*Inicia la sección del CURSO LIMIERE*/
    .cuadrados{
        justify-items: center;
    }

    .cursos{
        height: 100%;
        text-align: center;
        justify-items: center;
        justify-content: center;
    }
     
    .cursos div{
        display: block;
        width: 100%;
    }

    .cuadrado1 img, .cuadrado2 img{
        margin: 0 auto;
    }
    
    .cursos img{
        margin-top: 20px;
        justify-content: center;
    }


/*Finaliza la sección del CURSO LUMIERE*/

/*Inicia la sección de PROGRMA*/
    .programa{
        display: flex;
        text-align: center;
        padding-bottom: 30vh;
        justify-items: center;
    }

    .programa h1{
        display: none;
    }

    .programa p{   
        margin-top: 10px;
        font-weight: bold;
        font-size: 30px;
    }

    .programa div{
        justify-content: center;
    }
/*Finaliza la sección de PROGRAMA*/


    .imagen-decoration{
        display: none;
    }

    .rectangulo{
        display: none;
    }

    .soporte img{
        display: none;
    }
   


/*Inicia la sección de ABOUT*/
    .aboutus{
        display: flex;
        margin-left: 3vh;
    }
     
    .texto-about-us{
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    } 
    
    .cuadro-about1, .cuadro-about2, .cuadro-about3{
        display: none;
    }
/*Finaliza la sección de ABOUT */

/*Inicia la sección de REWIEWS O RESEÑAS*/
    .rewiews{
        width:100%;
        justify-content: center;
        margin:0 auto;
    }

    .reseña2{
        display: block;
        margin:0 auto;
    }

    .rewiews h1{
        font-size: 30px;
        margin: 0 auto;
    }

    .rewiews1{
        display: block;
        justify-content: center;
    }
/*Finaliza la sección de REWIEWS O RESEÑAS*/
   
/*Inicia la sección de OFERTA*/  
    .oferta{
        width: 100%;
        display: flex;
    }

    .oferta div{
        justify-content: center;
    }

    .oferta div p{
        line-height: 30px;
    }
/*Finaliza la seccón de OFERTA*/

/*Inicia la sección de CONTACTO*/
    .contact{
        justify-content: center;
        align-items: center;
    }
    .contact h1{
        margin: 0 auto;
        padding-bottom: 2vh;
    }

    .mail{
        margin: 0;
    }
    
    .email-label{
        margin-left: 0;
        margin-bottom: 3px;
    }

    form,.form-row, .form-group ,.name, .mail{
        width: 100%;
        flex-direction: column; 
    }
    textarea{
        width: 100%;
    }

    button[type="submit"]{
        width: 100px; 
        margin: 10px auto;  
    }
/*Finaliza la sección de CONTACTO*/


/* Comienza la seccion copyright del footer */
    .copyright p{
       margin-left: 0;   
       text-align: center;
    }
/* Termina la seccion copyright del footer */



    /*Inicia la sección del soporte*/
    .soporte{
        display: flex;
        margin: 0 auto;
        padding: 2vh;
        height: 100%;
    }

    .imagen{
        display: none;
    }

    .soportecont{
        width: 80%;
        text-align: justify;
        margin: 0 auto;
    }

    .text1{
        width: 80%;
    }

    .lista-soporte{
        width: 80%;
    }




}
/* Medidas para tablet */
@media only screen and (min-width: 767px) and (max-width: 1024px){
    .rewiews1 p, .rewiews1 h1{
        margin-right: 20px; 
        text-align: justify;
    }

    .text1{
        width: 60%;
        height: 100%;
        margin-top: 5vh;
    }
    .imagen {
    display: none;
    }

    .soportecont{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    
    }

    .social div{
    margin-left: 20%;
    }

    .venta{
    display: flex;
    justify-content: space-around;
    }

    .cursos{
    gap: 7vh;
    height: 110vh;
    }   
    .rectangulo{
    height: 98vh;
    }

    .hero{
    background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    }

    

    header {
        display: flex;
        flex-direction: column;
    }

    header div a img{
        margin-left: 25%;
    }
      
    .nav {
        display: none;
        width: 100%;
    }
      
    .menu-responsive-btn {
        display: block;
        background: none;
        border: none;
        margin-right: 10px;
    }
      
    .menu-responsive {
        font-size: 40px;
        display: block;
        color: black;
    }
      
    .nav a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
    }
      
    .nav a:last-child {
        border-bottom: none;
    }
      
    .nav.show {
        display: block;
        margin-top: 10px;
    }

    .hero h1{
        color: white;
        font-size: 50px;
        position: absolute;
        top: 45vh;
        left: 5vh;   
    }

    .hero a{
        color: white;
    }

    .hero p{
        color: white;
        position: absolute;
        left: 5vh;
        top: 65vh;
    }

}