@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.menu-responsive{
    display: none;
}

header button{
    background: none;
    border: none;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items:center;
}

header div a img{
    width: 30%;
    height: 10%;
}

a{
    margin-left: 30px;
    text-decoration: none;
    color: #252425;
    font-size: 17px;
}

p{
    line-height: 25px;
}

.hero p a{
    margin-left: 0px;
    font-size: 30px;
}

.hero{
    background-image: url(fotografia-artistica.jpg);
    background-size: cover;
    background-position: right;
    color: #252425;
    height: 100vh;
}

.hero h1{
    position: absolute;
    left: 15vh;
    bottom: 40vh;
    font-size: 100px;
}

.hero p{
    position: absolute;
    left: 15vh;
    bottom: 25vh;
    font-size: 30px;
}

.hero img{
    margin-left: 100vh;
    width: 100vh;
    height: 100vh;
}

.cursos{
    display:flex;
    margin-top: 1vh;
    padding: 10vh;
    flex-direction: column;
    height: 100vh;
    gap: 10vh;
}

.venta{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}


.cursos h1{
    color:#252425;  
    /* position: absolute;
    left: 70vh; */
    bottom: -25vh;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.cursos div p{
    text-align:center;  
     
}

.cuadrado1, .cuadrado2, .cuadrado3{
    /* margin-left: 10vh; */
    width: 20%;
}

/* .cuadrado1, .cuadrado2, .cuadrado2{
    margin-right: 5vh;
}  */

 .cuadrado1 img, .cuadrado2 img, .cuadrado2 img{
    display: flex;
    justify-content: center;
}  

.cuadrados{
    width: 100%;
    display: flex;
    justify-content: center;
}


.cuadrado1 h2,.cuadrado2 h2,.cuadrado3 h2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color:#252425;  
} 

.cuadrado1 button,.cuadrado2 button, .cuadrado3 button{
    width: 60%;
    height: 50px;
    border-radius: 10px;
    background-color:#252425;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
}

.nivel{
    width: 217px;
    height: 199px;
}


.botones{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cuadrado1 p,.cuadrado2 p, .cuadrado3 p{
    margin-top: 20px;
}

.programa, .oferta{
    background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    text-align: center;
    justify-content: center;
    padding: 15vh;
}

.programa h1, .oferta h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.programa p, .oferta p{
    color: white;
    margin-top: 35px;
}

.programa p{
    font-size: 20px;
}

.oferta p{
    font-size: 40px;
}
    
.programa button, .oferta button{
    margin-top: 35px;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    color: #252425;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.imagen-decoration{
    background-image: url(fotografia3.jpg);
    filter: grayscale(80%);
    padding: 35vh;
    background-size: cover;
    background-position: right;
    transition: 2s;
}

.aboutus{
    height: 100vh;
    /* padding:10vh; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.rectangulo{
    position: absolute;
    z-index: -1;
    width: 300px; 
    height: 125vh; 
    background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    border-bottom-right-radius: 250px;
    right: 10vh;
}

.texto-about-us{
    width: 60vh;

    text-align: justify;
}

.cuadros{
    display: flex;
    flex-direction: column;
    
}

.texto-about-us h1{
    font-weight: bold;
    font-size: 50px;
    color: #252425;
}

.texto-about-us p{
    margin-top: 40px;
}



.cuadro-about1, .cuadro-about2, .cuadro-about3{
   background-color: white;
   border: solid 2px #61575B;
   width: 360px;
   text-align: end;
   /* margin-left: 110vh; esto esta mal */
   border-radius: 10px;
   padding: 5px;
   box-shadow: 1px 1px 10px#252425;
   text-align: justify;
}


.cuadro-about2, .cuadro-about3{
    margin-top: 40px;
}

.cuadro-about1 p, .cuadro-about2 p, .cuadro-about3 p, .cuadro-about1 h2, .cuadro-about2 h2, .cuadro-about3 h2{
    margin-right: 20px;
}

.cuadro-about1 p, .cuadro-about2 p, .cuadro-about3 p{
    margin-top: 10px;
}

.aboutus1{
    height: 70px;
    border-radius: 10px;
    margin-top: 15px;
}

.aboutus2{
    height: 70px;
    border-radius: 10px;
    margin-top: 5px;
}

.aboutus3{
    height: 70px;
    border-radius: 10px;
    margin-top: 5px;
}

/* Fin about */
.rewiews{
    display: flex;
    padding: 15vh;
    background-color:  whitesmoke; 
}

.rewiews h1{
    color: #252425;
    display: block;
}

.rewiews img{
    height: 70px;
}

.reviews1 div h1, .reviews1 div p{
    text-align: justify;
}

.titulo{
     display:inline-block;
     height: 60px;
     margin-left: 100px;
}

.titulo h1{
    font-size: 50px;
    font-weight: bold;
    color: #252425;
    margin-left: 35vh;
    position: absolute;
}

.rewiews1{
    display: flex;
    margin-top: 100px;
    margin-left: -45px;
}

.rewiews1 p, .rewiews1 h1{
    margin-right: 100px;
    text-align: justify;
}

.rewiews1 p{
    margin-top: 30px;
}

.rewiews1 div{
    margin-left: 50px;
    margin-top: 70px;
    width: 100%
}

.rewiews img{
    position:absolute;
    bottom: 10vh;
}

.soporte{
   padding-top: 20px;
}

.lista-soporte{
    margin-top: 15px;
    line-height: 30px;
    margin-left: 70px;
}


.imagen img{
    width: 70vh;
    position: absolute;
    margin-top: 20vh;
    margin-left: 10vh;
    box-shadow: 1px 1px 5px 1px #61575B;
}

.texto{
    margin-left: 100vh;
    width: 50%;
    display: flex;
}

.texto, .imagen{
    margin-bottom: 100px;
}

.texto div h1{
   color: #252425;
   font-size: 35px;
   font-weight: bold;
   margin-bottom: 20px;
}

.texto div p{
    margin-top: 30px;
}

.texto div p b{
    color: #252425;
}

.contact{
    padding: 20vh;
}

.contact h1{
    color: #252425;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 65vh;
}

form {
    max-width: 600px;
    margin: 0 auto;
}
  
.form-row {
    display: flex;
    justify-content: space-between;
}
  
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
  
label{
    margin-bottom: 5px;
}
  
input[type="text"],input[type="email"],textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button[type="submit"] {
    background-color: #252425;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30vh;
    width: 200px;
}
  
  
.name{
    width: 250px;
}

.mail{
    width: 250px;
}
 
textarea{
    height: 200px;
}

.social{
    background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    height: 30vh;
    display: flex;
}

.social img{
    margin: 0;
    height: 30vh;
}

.social div{
    margin-left: 31%;
    margin-top: 15vh;
}

i{
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

.copyright{
    padding: 3vh;
}

.copyright p{
    margin-left: 70vh;
    color: #61575B;
}

/* Apartado de animaciones */

.animar:hover{
    background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    color: white;
}

.animar2:hover{
    font-size: 25px;
    cursor: pointer;
}

header div a:hover{
    text-decoration: overline;
}

input, textarea{
    box-shadow: 1px 1px 5px 1px #61575B;
    outline: none;
}

.cursos div img{
    box-shadow: 1px 1px 10px#61575B;
}

.cursos div img:hover{
    box-shadow: 2px 2px 10px 2px #61575B;
}

.imagen-decoration:hover{
    filter: none;
    transition: 2s;
}

/* Comienzo de diseño responsive*/

@media only screen and (max-width: 800px){

    body{
       width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    header div a img{
        margin-left: 25%;
    }
      
    .nav {
        display: none;
        width: 100%;
    }
      
    .menu-responsive-btn {
        display: block;
        background: none;
        border: none;
        margin-right: 10px;
    }
      
    .menu-responsive {
        width: 30px;
        height: 30px;
        display: block;
    }
      
    .nav a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #fff;
    }
      
    .nav a:last-child {
        border-bottom: none;
    }
      
    .nav.show {
        display: block;
        margin-top: 10px;
    }
    
    
    .hero{
        background: linear-gradient(70deg, #252425, #61575B,  #7C7679);
    }

    .hero h1{
        color: white;
        font-size: 50px;
        position: absolute;
        top: 30vh;
        left: 5vh;   
    }

    .hero a{
        color: white;
    }

    .hero p{
        color: white;
        position: absolute;
        left: 5vh;
        top: 50vh;
    }

    .cuadrados{
        justify-items: center;
    }

    .cursos{
        height: 100%;
        text-align: center;
        justify-items: center;
    }
     
    .cursos div{
        display: block;
        width: 100%;
    }
    
    .cursos img{
        margin-top: 20px;
    }

    .programa{
        display: flex;
        text-align: center;
        padding-bottom: 30vh;
        justify-items: center;
    }

    .programa h1{
        display: none;
    }

    .programa p{   
        margin-top: 10px;
        font-weight: bold;
        font-size: 30px;
    }

    .programa div{
        justify-content: center;
    }

    .imagen-decoration{
        display: none;
    }

    .rectangulo{
        display: none;
    }

    .soporte img{
        display: none;
    }

    .aboutus{
        display: flex;
    }
     
    .texto-about-us{
        justify-content: center;
        margin: 0 auto;
    }

    .rewiews{
        justify-content: center;
    }

    .reseña2{
        display: block;
    }

    .rewiews h1{
        font-size: 30px;
        margin: 0 auto;
        justify-content: center;
    }

    .rewiews1{
        display: block;
        justify-content: center;
        width: 200%;
    }

    .cuadro-about1, .cuadro-about2, .cuadro-about3{
        display: none;
    }

    .oferta{
        display: flex;
    }

    .oferta div{
        justify-content: center;
    }

    .oferta div p{
        line-height: 30px;
    }

    .copyright{
        display: none;
    }

}
